# Include important files in the package distribution
include README.md
include LICENSE
include MANIFEST.in
recursive-include portfoliogen *.py
recursive-include portfoliogen/templates *.html *.css *.js
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store